<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" th:rel="stylesheet">
</head>
<body>
    <nav th:replace="fragments/navbar"></nav>
    <div class="container">
        <h1 class="text-center">Pizzas</h1>

        <form class="mb-3" th:action="@{/pizzas}" method="get">

            <input type="text"
                name="keyword"
                class="form-control"
                th:value="${keyword}"
                placeholder="Search pizza by name...">

            <button class="btn btn-primary mt-2">Search</button>
        </form>

        <section class="row" th:unless="${pizzas.isEmpty()}">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <td th:text="*{id}"></td>
                            <td th:text="*{name}"></td>
                            <td th:text="*{description}"></td>
                            <td th:text="*{price}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <p th:if="${pizzas.isEmpty()}">No pizzas found.</p>

        <a th:href="@{/pizzas/create}" class="btn btn-success">Create a new Pizza</a>
    </div>
    <!--<div th:replace="~{fragments/resources :: scripts}"></div>-->
</body>
</html>