<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" th:rel="stylesheet">
    <script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav th:replace="fragments/navbar"></nav>
    <div class="container">
        <h1 class="text-center">Pizzas</h1>

        <form class="mb-3" th:action="@{/pizzas}" method="get">

            <input type="text"
                name="keyword"
                class="form-control"
                th:value="${keyword}"
                placeholder="Search pizza by name...">

            <button class="btn btn-primary mt-2">Search</button>
        </form>

        <section class="row" th:unless="${pizzas.isEmpty()}">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Price</th>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="pizza : ${pizzas}" th:object="${pizza}">
                            <td th:text="*{name}"></td>
                            <td th:text="*{description}"></td>
                            <td th:text="*{price}"></td>
                            <td>
                                <a th:href="@{/pizzas/{id}(id=${pizza.id})}" class="btn btn-primary btn-sm">Show</a>
                            </td>
                            <td>
                                <a th:href="@{/pizzas/edit/{id}(id=${pizza.id})}" class="btn btn-secondary btn-sm">Edit</a>
                            </td>
                            <td>
                                <!-- <form th:action="@{/pizzas/delete/{id}(id=${pizza.id})}" method="post">
                                    <button class="btn btn-danger btn-sm">Delete</button>
                                </form> -->
                                <button class="btn btn-danger btn-sm" data-bs-toggle="modal" th:data-bs-target="'#delete-modal-' + ${pizza.id}">Delete</button>

                                <div class="modal fade" th:id="'delete-modal-' + ${pizza.id}" tabindex="-1" aria-labelledby="delete-modal" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel">Deleting [[${pizza.name}]]</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete <strong>[[${pizza.name}]]</strong>?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                                                <form th:action="@{/pizzas/delete/{id}(id=${pizza.id})}" method="post" class="d-inline-block">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <p th:if="${pizzas.isEmpty()}">No pizzas found.</p>

        <a th:href="@{/pizzas/create}" class="btn btn-success mb-3">Create a new Pizza</a>
    </div>
    <!--<div th:replace="~{fragments/resources :: scripts}"></div>-->
</body>
</html>